<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676690535391-4djk9iq708qig91oktkadjjo8mshfk3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676690535391-4djk9iq708qig91oktkadjjo8mshfk3f</string>
	<key>API_KEY</key>
	<string>AIzaSyCUtjt7Cx7uc9AK96iyuaxTIzwSxIhtlow</string>
	<key>GCM_SENDER_ID</key>
	<string>676690535391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingmark6.congosante</string>
	<key>PROJECT_ID</key>
	<string>congo-sante-51130</string>
	<key>STORAGE_BUCKET</key>
	<string>congo-sante-51130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676690535391:ios:fa82b4322d07b7daf39a6a</string>
</dict>
</plist>